# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Hardhat
cache/
artifacts/
typechain-types/

# The Graph
generated/
build/

# Next.js
.next/
out/
dist/

# Logs
*.log
logs
*.pid
*.seed
*.pid.lock

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp

# Coverage
coverage/
coverage.json
lcov-report/

# Misc
*.tgz
*.zip
*.tar.gz
